# PostgreSQL
DATABASE_URL=postgresql://netuser:netpass@db:5432/netdb
DB_SSL=false
# In production use 
# DB_SSL=true

# Backend port
PORT=3001

# Frontend port
FRONTEND_PORT=3000

# Hot Reload React
WATCHPACK_POLLING=true
